<div style="text-align: center; font-size:80px ">Let's play Ludo</div>
<br>
<div class="outer">
  <div class="box_row">
    <div class="box" style="border:50px solid red;">
      <!-- <div class="circle border_red"></div>
      <div class="circle border_red"></div>
      <div class="circle border_red"></div>
      <div class="circle border_red"></div> -->
      <div class="start border_red">Red Home</div>
    </div>
    <div class="v_lad">
      <div class="v_lad_row">
        <div id="x7y15" class="v_lad_cell"></div>
        <div id="x8y15" class="v_lad_cell"></div>
        <div id="x9y15" class="v_lad_cell"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y14" class="v_lad_cell"></div>
        <div id="x8y14" class="v_lad_cell green"></div>
        <div id="x9y14" class="v_lad_cell green star" style="background-color: green;"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y13" class="v_lad_cell star"></div>
        <div id="x8y13"  class="v_lad_cell green"></div>
        <div id="x9y13" class="v_lad_cell"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y12" class="v_lad_cell"></div>
        <div id="x8y12" class="v_lad_cell green"></div>
        <div id="x9y12" class="v_lad_cell"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y11" class="v_lad_cell"></div>
        <div id="x8y11" class="v_lad_cell green"></div>
        <div id="x9y11" class="v_lad_cell"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y10" class="v_lad_cell"></div>
        <div id="x8y10" class="v_lad_cell green"></div>
        <div id="x9y10" class="v_lad_cell"></div>
      </div>
    </div>
    <div class="box" style="border:50px solid green;">
      <!-- <div class="circle border_green"></div>
      <div class="circle border_green"></div>
      <div class="circle border_green"></div>
      <div class="circle border_green"></div> -->
      <div class="start border_green">Green Home</div>
    </div>
  </div>
  <div class="middle_row">
  <div class="h_lad">
    <div class="h_lad_row">
      <div id="x1y9" class="h_lad_cell"></div>
      <div id="x2y9" class="h_lad_cell star" style="background-color: red;"></div>
      <div id="x3y9" class="h_lad_cell"></div>
      <div id="x4y9" class="h_lad_cell"></div>
      <div id="x5y9" class="h_lad_cell"></div>
      <div id="x6y9" class="h_lad_cell"></div>
    </div>
    <div class="h_lad_row">
      <div id="x1y8" class="h_lad_cell"></div>
      <div id="x2y8" class="h_lad_cell red"></div>
      <div id="x3y8" class="h_lad_cell red"></div>
      <div id="x4y8" class="h_lad_cell red"></div>
      <div id="x5y8" class="h_lad_cell red"></div>
      <div id="x6y8" class="h_lad_cell red"></div>
    </div>
    <div class="h_lad_row">
      <div id="x1y7" class="h_lad_cell"></div>
      <div id="x2y7" class="h_lad_cell"></div>
      <div id="x3y7" class="h_lad_cell star"></div>
      <div id="x4y7" class="h_lad_cell"></div>
      <div id="x5y7" class="h_lad_cell"></div>
      <div id="x6y7" class="h_lad_cell"></div>
    </div>
    </div>
    <div class="ludo_home"></div>
    <div class="h_lad">
      <div  class="h_lad_row">
      <div id="x10y9" class="h_lad_cell"></div>
      <div id="x11y9" class="h_lad_cell"></div>
      <div id="x12y9" class="h_lad_cell"></div>
      <div id="x13y9" class="h_lad_cell star"></div>
      <div id="x14y9" class="h_lad_cell"></div>
      <div id="x15y9" class="h_lad_cell"></div>
    </div>
    <div class="h_lad_row">
      <div id="x10y8" class="h_lad_cell yellow"></div>
      <div id="x11y8" class="h_lad_cell yellow"></div>
      <div id="x12y8" class="h_lad_cell yellow"></div>
      <div id="x13y8" class="h_lad_cell yellow"></div>
      <div id="x14y8" class="h_lad_cell yellow"></div>
      <div id="x15y8" class="h_lad_cell "></div>
    </div>
    <div class="h_lad_row">
      <div id="x10y7" class="h_lad_cell"></div>
      <div id="x11y7" class="h_lad_cell"></div>
      <div id="x12y7" class="h_lad_cell"></div>
      <div id="x13y7" class="h_lad_cell"></div>
      <div id="x14y7" class="h_lad_cell star" style="background-color: yellow;"></div>
      <div id="x15y7" class="h_lad_cell"></div>
    </div>
    </div>
  </div>
  <div class="box_row">
    <div class="box" style="border:50px solid blue;">
      <!-- <div class="circle border_blue"></div>
      <div class="circle border_blue"></div>
      <div class="circle border_blue"></div>
      <div class="circle border_blue"></div> -->
      <div class="start border_blue">Blue Home</div>
    </div>
    <div class="v_lad">
      <div class="v_lad_row">
        <div id="x7y6" class="v_lad_cell"></div>
        <div id="x8y6" class="v_lad_cell blue"></div>
        <div id="x9y6" class="v_lad_cell"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y5" class="v_lad_cell"></div>
        <div id="x8y5" class="v_lad_cell blue"></div>
        <div id="x9y5" class="v_lad_cell "></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y4" class="v_lad_cell"></div>
        <div id="x8y4" class="v_lad_cell blue"></div>
        <div id="x9y4" class="v_lad_cell"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y3" class="v_lad_cell"></div>
        <div id="x8y3" class="v_lad_cell blue"></div>
        <div id="x9y3" class="v_lad_cell star"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y2" class="v_lad_cell star" style="background-color: blue;"></div>
        <div id="x8y2" class="v_lad_cell blue"></div>
        <div id="x9y2" class="v_lad_cell"></div>
      </div>
      <div class="v_lad_row">
        <div id="x7y1" class="v_lad_cell"></div>
        <div id="x8y1" class="v_lad_cell"></div>
        <div id="x9y1" class="v_lad_cell"></div>
      </div>
    </div>
    <div class="box" style="border:50px solid yellow;">
      <!-- <div class="circle border_yellow"></div>
      <div class="circle border_yellow"></div>
      <div class="circle border_yellow"></div>
      <div class="circle border_yellow"></div> -->
      <div class="start border_yellow">Yellow Home</div>
    </div>
  </div>
</div>
<br>
<h1 style="text-align: center;" ><button id="button" [disabled]="buttonEnabled" (click)="movePiece()">{{dice}}</button></h1>
